<div class="container1">
  <div class="container">
    <div class="navbar">
      <div><a class="active" href="/home">Home</a></div>
      <div>
        <a href="/aircrafts">Aircrafts</a>
        <a href="/tasks">Maintenance Tasks</a>
      </div>
    </div>
  </div>
  <div
    style="
      padding-top: 300px;
      color: #fff;
      text-align: center;
      margin-top: 20px;
    "
  >
    <h1
      style="
        font-weight: bold;
        font-size: 70px;
        font-family: 'Courier', sans-serif;
        padding-left: 20px;
        padding-right: 20px;
      "
    >
      NAVIGATING THE SKY WITH HIGH PRECISION
    </h1>
  </div>
</div>
